@font-face {
  font-family: "Gochi Hand";
  src: url("/public/fonts/GochiHand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Carter One";
  src: url(/public/fonts/CarterOne-Regular.ttf) format("truetype");
}
.App {
  text-align: center;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
}
.App * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Carter One";
}
